/*
    TYPE.CSS

    - Last updated: 10.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
    @include media-breakpoint-down(lg) { font-size: rem-calc(14); }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a, button {
    // font-weight: $font-weight-bold;
    transition: color 150ms ease, background-color 150ms ease, opacity 150ms ease;
    word-break: break-word; // handles long links in safari
    outline: none !important;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol, td {
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 2;

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(23);
    }
}

//-----------------------------------------------------------------
// LEAD
//-----------------------------------------------------------------

p.lead {
    @include media-breakpoint-down(sm) {
        font-size: rem-calc(27); // [LOCKED] - curated
    }
}

//-----------------------------------------------------------------
// HEADINGS
//-----------------------------------------------------------------

// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {
//     color: #393a3a;
// }

.fancy-heading {
    position: relative;
    padding: rem-calc(20);

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 38%/2);
        width: 38%; //604px;
        height: 1px;
        background: #929292;
    }

    &:after {
        top: auto;
        bottom: 0;
    }
}

//-----------------------------------------------------------------
// HEADINGS MOBILE
//-----------------------------------------------------------------

@include media-breakpoint-down(sm) {
    h1, .h1 { font-size: calc(#{$h1-font-size} - 64%); }
    h2, .h2 { font-size: calc(#{$h2-font-size} - 40%); }
    h3, .h3 { font-size: calc(#{$h3-font-size} - 20%); }
    h4, .h4 { font-size: calc(#{$h4-font-size} - 24%); }
    h5, .h5 { font-size: calc(#{$h5-font-size} - 15%); }
    // h6, .h6 { font-size: calc(#{$h6-font-size} - 2%); }
}

@include media-breakpoint-down(sm) {
    // .display-1 { font-size: $h1-font-size; }
    .display-1 { font-size: calc(#{$display1-size} - 80%); }
    // .display-2 { font-size: calc(#{$display2-size} - 100%) !important; }
    .display-3 { font-size: calc(#{$display3-size} - 30%) !important; }
    // .display-4 { font-size: calc(#{$display4-size} - 100%) !important; }
}

//-----------------------------------------------------------------
// UTILITIES
//-----------------------------------------------------------------

.spacer {
    width: 1px;
    height: 1px;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================