---
layout: base
---

{% contentfor hero_caption %}
	<!-- CAPTION TOP -->
	<section class="section lv-hero-item-caption-top">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-8 col-xl-6">

	                <!-- HEADER -->
	                <h1 class="h2 text-uppercase mb-4">
	                    Hello,<br>
	                    We are Lifestyle Coffins
	                </h1>

	                <h3 class="mb-4">We personalise coffins for funeral services</h3>

	                <a href="#" class="btn btn-secondary">
	                    See our Designs
	                </a>

	            </div>
	        </div>
	    </div>
	</section>
{% endcontentfor %}

<!-- WHY PERSONALISE COFFINS? -->
<section class="section">
	<div class="container">

		<!-- HEADING -->
		<h2 class="fancy-heading text-primary text-center text-uppercase mb-5">
			<span class="font-weight-bolder">Why</span> <span class="font-weight-lighter">Personalise Coffins?</span>
		</h2>

		<!-- WYSIWYG #1 -->
		<div class="row justify-content-center mb-5">
			<div class="col-md-11">
				<div class="wysiwyg text-center">
					<p>Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum, at adipiscing eros porta quis. Phasellus in nisi ipsum,
					quis dapibus magna. Phasellus odio dolor, pretium sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam
					faucibus scelerisque vitae ut ligula. Ut luctus fermentum commodo. Mauris eget justo turpis, eget fringilla mi. Duis lobortis
					ursus mi vel tristique. Maecenas eu lorem hendrerit neque dapibus cursus id sit amet nisi. Proin rhoncus semper sem</p>

					<p>Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum, at adipiscing eros porta quis. Phasellus in nisi ipsum,
					quis dapibus magna. Phasellus odio dolor, pretium sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam
					faucibus scelerisque vitae ut ligula. Ut luctus fermentum commodo. Mauris eget justo turpis, eget fringilla mi. Duis lobortis
					ursus mi vel tristique. Maecenas eu lorem hendrerit neque dapibus cursus id sit amet nisi. Proin rhoncus semper sem</p>
				</div>
			</div>
		</div>

		<!-- PLACEHOLDER VIDEO -->
		<div class="row justify-content-center mb-5">
			<div class="col-md-10">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://player.vimeo.com/video/235215203" width="100%" height="640" frameborder="0" allow="autoplay; 	fullscreen" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<!-- WYSIWYG #2 -->
		<div class="row justify-content-center">
			<div class="col-md-11">
				<div class="wysiwyg text-center">
					<p>Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum, at adipiscing eros porta quis. Phasellus in nisi ipsum,
					quis dapibus magna. Phasellus odio dolor, pretium sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam
					faucibus scelerisque vitae ut ligula. Ut luctus fermentum commodo. Mauris eget justo turpis, eget fringilla mi. Duis lobortis Proin rhoncus semper sem</p>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- WHY LIFESTYLE COFFINS? -->
<section class="section is-tertiary">
	<div class="container py-4">

		<!-- HEADING -->
		<h2 class="fancy-heading text-primary text-center text-uppercase mb-5">
			<span class="font-weight-bolder">Why</span> <span class="font-weight-lighter">Lifestyle Coffins?</span>
		</h2>

		<!-- WYSIWYG #1 -->
		<div class="row justify-content-center mb-5">
			<div class="col-md-11">
				<div class="wysiwyg text-center">
					<p>Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum, at adipiscing eros porta quis. Phasellus in nisi ipsum,
					quis dapibus magna. Phasellus odio dolor, pretium sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam
					faucibus scelerisque vitae ut ligula. Ut luctus fermentum commodo. Mauris eget justo turpis, eget fringilla mi. Duis lobortis ursus mi vel tristique. Maecenas eu lorem hendrerit neque dapibus cursus id sit amet nisi. Proin rhoncus semper sem</p>
				</div>
			</div>
		</div>

		<!-- PLACEHOLDER VIDEO -->
		<div class="row justify-content-center mb-5">
			<div class="col-md-10">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://player.vimeo.com/video/235215203" width="100%" height="640" frameborder="0" allow="autoplay; 	fullscreen" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<!-- WYSIWYG #2 -->
		<div class="row justify-content-center mb-5">
			<div class="col-md-11">
				<div class="wysiwyg text-center">
					<p>Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum, at adipiscing eros porta quis. Phasellus in nisi ipsum,
					quis dapibus magna. Phasellus odio dolor, pretium sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam
					faucibus scelerisque vitae ut ligula. Ut luctus fermentum commodo.</p>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- TESTIMONIAL -->
<section class="section section-testimonials has-image-bg" style="background-image: url(/assets/img/content/ocean-bg.jpg)">
	<div class="container">

		<div class="row align-items-center">
			<div class="col-md-4 text-center text-md-right">
				<img class="img" src="/assets/img/content/woman.png" alt="White Lady Funerals">
			</div>
			<div class="col-md-8">
				<div class="testimonial-box">
					<h3>"Thanks heaps Corey. Your coffins in situations like these make such a difference to the families."</h3>
					<p class="h4 mb-4">Krystle Inglis - Location Manager - White Lady Funerals</p>
					<img width="210" src="/assets/img/content/companies/white-lady-funerals@2x.jpg" alt="White Lady Funerals">
				</div>
			</div>
		</div>

	</div>
</section>

<!-- COMPANIES CAROUSEL -->
<section class="section section-companies">
	<div class="container">

		<!-- HEADING -->
		<h3 class="text-primary text-center text-uppercase mb-0">
			You Are in Good Company
		</h3>

		<!-- SLIDER -->
		<div class="slider slider-companies" data-slider>
			<div data-flickity='
				{
			        "adaptiveHeight": false,
			        "autoPlay": false,
			        "cellAlign": "left",
			        "contain": true,
			        "draggable": ">1",
			        "dragThreshold": 40,
			        "freeScroll": false,
			        "freeScrollFriction": 0.075,
			        "friction": 0.28,
			        "groupCells": false,
			        "imagesLoaded": true,
			        "pageDots": false,
			        "prevNextButtons": false,
			        "pauseAutoPlayOnHover": false,
			        "selectedAttraction": 0.025,
			        "watchCSS": false,
			        "wrapAround": true
			    }'>

				<!-- SLIDER CELLS -->
				{% for i in (1..6) %}
					<a class="slider-cell" href="#">
						<img width="100%" src="/assets/img/content/companies/company-{{i}}.jpg" alt="Logo">
					</a>
				{% endfor %}

				<!-- EXAMPLE -->
				<a class="slider-cell" href="#">
					<img width="100%" src="/assets/img/content/companies/company-2.jpg" alt="Logo">
				</a>

			</div>

			<!-- SLIDER CONTROLS -->
			<div class="slider-controls">
			    <button class="slider-prev-btn"><i class="fa fa-angle-left"></i></button>
			    <button class="slider-next-btn"><i class="fa fa-angle-right"></i></button>
			</div>

		</div>

	</div>
</section>