{% assign settings = site.data.settings %}
{% assign logo = page.logo | default: "/assets/img/content/logo@2x.png" %}
{% assign sitemap = site.data.sitemap %}

<!-- COMPANIES CAROUSEL -->
<section class="section section-companies">
	<div class="container">

		<!-- HEADING -->
		<h3 class="text-primary text-center text-uppercase mb-0">
			You Are in Good Company
		</h3>

		<!-- SLIDER -->
		<div class="slider slider-companies" data-slider>
			<div data-flickity='
				{
			        "adaptiveHeight": false,
			        "autoPlay": false,
			        "cellAlign": "left",
			        "contain": true,
			        "draggable": ">1",
			        "dragThreshold": 40,
			        "freeScroll": false,
			        "freeScrollFriction": 0.075,
			        "friction": 0.28,
			        "groupCells": false,
			        "imagesLoaded": true,
			        "pageDots": false,
			        "prevNextButtons": false,
			        "pauseAutoPlayOnHover": false,
			        "selectedAttraction": 0.025,
			        "watchCSS": false,
			        "wrapAround": true
			    }'>

				<!-- SLIDER CELLS -->
				{% for i in (1..6) %}
					<a class="slider-cell" href="#">
						<img width="100%" src="/assets/img/content/companies/company-{{i}}.jpg" alt="Logo">
					</a>
				{% endfor %}

				<!-- EXAMPLE -->
				<a class="slider-cell" href="#">
					<img width="100%" src="/assets/img/content/companies/company-2.jpg" alt="Logo">
				</a>

			</div>

			<!-- SLIDER CONTROLS -->
			<div class="slider-controls">
			    <button class="slider-prev-btn"><i class="fa fa-angle-left"></i></button>
			    <button class="slider-next-btn"><i class="fa fa-angle-right"></i></button>
			</div>

		</div>

	</div>
</section>

<!-- FOOTER BODY -->
<section class="global-footer-body">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4 text-center">

				<!-- LOGO -->
				<div class="mb-5">
					<a class="logo d-inline-block" href="/" title="{{ settings.title_homepage }}" itemprop="url">
					    <img width="100%" src="{{ logo }}" alt="{{ settings.company }}" itemprop="logo">
					</a>
				</div>

			</div>
		</div>

		<!-- SUBSCRIBE FORM -->
		<div class="row justify-content-center mb-4">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="px-xl-4">
					{% include components/forms/form_subscribe.html %}
				</div>
			</div>
		</div>

		<!-- NAV -->
		<div class="row">
			<div class="col text-center">
				<div class="lv-nav d-inline-block">
					{% include components/navigation/nav.html data=site.data.sitemap %}
				</div>
			</div>
		</div>

	</div> <!-- /.container -->
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">

    	<!-- BACK TO TOP -->
    	<div class="text-center text-md-right hidden-xs-down">
    		<button data-back-top class="btn-back-top">
    			<div>
    				<i class="d-block fa fa-angle-up"></i>
    				<span class="text">TOP</span>
    			</div>
    		</button>
    	</div>

		<!-- SOCIAL MEDIA -->
		<div class="text-center">
			{% include components/widgets/social_media.html %}
		</div>

    </div>
</section>