---
layout: base__page
---

<!-- COFFIN DESIGNS -->
<section class="section">
	<div class="container">

		<!-- HEADING -->
		<h2 class="fancy-heading text-center text-uppercase mb-5">
			<span class="font-weight-bolder">Coffin Designs</span>
		</h2>

		<!-- WYSIWYG -->
		<div class="row justify-content-center mb-5">
			<div class="col-md-11">
				<div class="wysiwyg text-center">
					<p>Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum, at adipiscing eros porta quis. Phasellus in nisi ipsum,
					quis dapibus magna. Phasellus odio dolor, pretium sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam
					faucibus scelerisque vitae ut ligula. Ut luctus fermentum commodo. Mauris eget justo turpis, eget fringilla mi. Duis lobortis
					ursus mi vel tristique. Maecenas eu lorem hendrerit neque dapibus cursus id sit amet nisi. Proin rhoncus semper sem</p>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- SECTION FILTERS -->
<section class="section is-quaternary">
	<div class="container">
		<ul class="block-grid-2 block-grid-md-4 block-grid-lg-8">
			<li><a href="#">Floral</a></li>
			<li><a href="#">Sport</a></li>
			<li><a href="#">Custom</a></li>
			<li><a href="#">Flags</a></li>
			<li><a href="#">Hobbies</a></li>
			<li><a href="#">Places</a></li>
			<li><a href="#">Animals</a></li>
			<li><a href="#">Religion</a></li>
		</ul>
	</div>
</section>