---
layout: base__page
---

{% contentfor hero_caption %}
    <!-- CAPTION TOP -->
    <section class="section lv-hero-item-caption-top" style="overflow: visible;">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-9 col-lg-7 col-xl-6">

                    <!-- HEADER -->
                    <h1 class="mt-4 mb-4">
                    	<img width="100%" src="/assets/img/layout/header-any-questions.png" alt="Any Questions?">
                    </h1>

                    <!-- SCROLL PROMPT -->
                    <a href="#why-personalise-coffins" class="lv-hero-scroll-prompt is-bottom hidden-lg-down"></a>

                </div>
            </div>
        </div>
    </section>
{% endcontentfor %}

<!-- FAQ -->
<section class="section">
	<div class="container">

		<!-- WYSIWYG #1 -->
		<div class="row justify-content-center">
			<div class="col-md-11">
				<div class="wysiwyg text-center">
					<p>Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum, at adipiscing eros porta quis. Phasellus in nisi ipsum,
					quis dapibus magna. Phasellus odio dolor, pretium sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam
					faucibus scelerisque vitae ut ligula. Ut luctus fermentum commodo. Mauris eget justo turpis, eget fringilla mi. Duis lobortis
					ursus mi vel tristique. Maecenas eu lorem hendrerit neque dapibus cursus id sit amet nisi. Proin rhoncus semper sem</p>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- ACCORDION SECTION -->
<section class="section pt-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-7">
				{% include components/content/accordion.html data=page.accordion %}
			</div>
		</div>
	</div>
</section>

<!-- CTA SECTION -->
<section class="section is-quaternary">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-11 text-center">
				<p class="lead font-weight-lighter text-uppercase mb-0">
					Feel free to call us for additional information on <a class="text-body" href="tel:1800003456"><strong>1800 003 456</strong></a>
				</p>
			</div>
		</div>
	</div>
</section>