---
layout: base__page_sidebar_9x3_wide
---

{% assign blog_categories = site.data.blog_categories %}
{% assign blog_posts = site.data.lorem_ipsum %}
{% assign item = blog_posts[0] %}

<!-- TITLE -->
<h1 class="h2 font-weight-bold mb-3">
    {{ item.title }}
</h1>

<!-- DATE + DOWNLOAD PDF -->
<div class="row">
    <div class="col-md-6">

        <!-- DATE -->
        <p class="h5 font-weight-normal text-uppercase text-muted mb-4">
            <i class="fa fa-calendar-o mr-1"></i>
            <time datetime="{{ item.date | date_to_xmlschema }}">
                {{ item.date | date: "%d %B %Y" }}
            </time>
        </p>

    </div>
</div>

<!-- IMAGE -->
<p class="img-right">
    <img style="max-width: 620px" src="{{ item.image }}" alt="...">
</p>

<!-- WYSIWYG -->
<div class="wysiwyg mb-5">
    {{ content }}
</div>

<!-- DIVIDER -->
<hr class="mb-4 pb-1">

<!-- PREV + NEXT -->
<p class="mb-5 mb-lg-0">
    <a class="float-left text-body font-weight-bold" href="#prev"><i class="fa fa-angle-left"></i> Previous Article</a>
    <a class="float-right text-body font-weight-bold" href="#next">Next Article <i class="fa fa-angle-right"></i></a>
</p>

{% contentfor sidebar %}

    <!-- OTHER POSTS BY AUTHOR -->
    <section class="mb-5">

        <!-- HEADING -->
        <h3 class="h4 mb-3">
            More Recent posts:
        </h3>

        <!-- POST LIST -->
        <ul class="block-grid-xs-1 block-grid-md-3 block-grid-lg-1">
            {% for item in blog_posts limit: 3 offset: 3 %}
                <li>

                    <!-- POST -->
                    <div>

                        <!-- IMAGE -->
                        <a class="btn-tile mb-3" href="/latest/latest-item/">
                            <img width="100%" src="/assets/img/layout/thumb-sizer--480x288.svg" alt="...">
                            <span class="btn-tile-bg" style="background-image: url('{{ item.image }}')"></span>
                        </a>

                        <!-- HEADING -->
                        <a href="/latest/latest-item/">
                            <h4 class="h4 text-body font-weight-bolder mb-0">
                                {{ item.title }} <i class="fa fa-angle-right"></i>
                            </h4>
                        </a>

                        <!-- DATE -->
                        <small class="h6 font-weight-normal text-uppercase text-muted">
                            <time datetime="{{ item.date | date_to_xmlschema }}">
                                {{ item.date | date: "%d %B %Y" }}
                            </time>
                        </small>

                    </div>
                </li>
            {% endfor %}

        </ul>

    </section>

{% endcontentfor %}