---
layout: base__page
---

<!-- STOCKIST LOCATOR -->
<section class="section">
    <div class="container">

        <!-- HEADING -->
        <h2 class="fancy-heading text-center text-uppercase mb-5">
            <span class="font-weight-bolder">Stockist</span> <span class="font-weight-lighter">Locator</span>
        </h2>

        <!-- WYSIWYG #2 -->
        <div class="row justify-content-center mb-5">
            <div class="col-md-11">
                <div class="wysiwyg text-center">
                    {{ page.wysiwyg_2 | markdownify }}
                </div>
            </div>
        </div>

        <!-- MAP WIDGET HERE -->
        <div class="row justify-content-center">
            <div class="col-md-11">

                <!-- Start Stockist.co widget -->
                <div data-stockist-widget-tag="u3023">
                    Loading store locator from <a href="http://stockist.co">Stockist store locator</a>...
                </div>
                <script>
                    (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
                    k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
                    })(document,'script','//stockist.co/embed/v1/widget.min.js');
                </script>
                <!-- End Stockist.co widget -->

            </div>
        </div>

    </div>
</section>

<!-- CTA SECTION -->
<section class="section is-quaternary">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-11 text-center">
				<p class="lead font-weight-lighter text-uppercase mb-0">
					Feel free to call us for additional information on <strong>1800 003 456</strong>
				</p>
			</div>
		</div>
	</div>
</section>