/*
    SPECIAL.CSS

    - updated: 31.07.19
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// FORM SPECIFIC
//-----------------------------------------------------------------

[v-cloak] {
    visibility: hidden;
}

.contact-form .btn[disabled="disabled"] {
    /*opacity: 1;*/
    cursor: not-allowed;
}

.spec-small {
	font-size: 80%; // used only in sidebox heading /contact
}

//-----------------------------------------------------------------
// used in Blog Item
//-----------------------------------------------------------------

.spec-info-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem-calc(22);
	min-width: rem-calc(22);
	height: rem-calc(22);
	border-radius: 100%;
	font-size: rem-calc(18);
	color: white;
	background: darken($text-muted, 20%); // TODO: what is this color var?;
}

//-----------------------------------------------------------------
// Condense the grid
//-----------------------------------------------------------------

.spec-col-condense {
	@include media-breakpoint-up(xl) {
	    justify-content: space-between;
	    padding: 0 0.5%;
	}

	> [class*='col'] {
		margin-bottom: $spacer * 2;

		@include media-breakpoint-up(md) {
			padding-left: 2%;
			padding-right: 2%;
			margin-bottom: 4%;
		}

		@include media-breakpoint-up(xl) {
			padding-left: 1%;
			padding-right: 1%;
			margin-bottom: 0;
		}
	}
}

//-----------------------------------------------------------------
// OVERRIDING ANIMATE (looks better)
//-----------------------------------------------------------------

.animated {
	animation-fill-mode: both;
	animation-duration: 1.5s;
}

.fadeInLeftSubtle {
	animation-name: fadeInLeftSubtle;
}

.fadeInUpSubtle {
	animation-name: fadeInUpSubtle;
}

@keyframes fadeInLeftSubtle {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUpSubtle {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
//-----------------------------------------------------------------
// JONO CUSTOM
//-----------------------------------------------------------------

.link-button a,
a .link-button {
	clear: both;
	background: $primary;
	padding: 14px 37px 14px 14px;
	display: block;
	position: relative;
	font-weight: bold;
	color: #fff;
	max-width: 750px;
	margin-bottom: 1.5rem;
}

.link-button a:hover,
a:hover .link-button {
	background: lighten($primary, 5%);
}

.link-button a:after,
a .link-button:after {
	content: "\f105";
	font-family: 'FontAwesome';
	position: absolute;
	top: 17px;
	right: 14px;
	font-size: 1.1rem;
	line-height: 1rem;
}