{% comment %}
<!--
    HERO STATIC

    - Updated: 15.07.19
    - Static banner, no carousel functionality, commonly used on internal pages
      to display page headers
-->
{% endcomment %}

{% assign id = include.id %}
{% assign options = include.options | default: 'is-large' %}
{% assign bg_image = page.hero_image | default: '' %}

<!-- HERO WRAPPER -->
<section id="{{ id }}" class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero {{ options }}">

        <!-- HERO ITEMS -->
        <div class="lv-hero-item {{ options }}" style="background-image: url('{{ bg_image }}')">

            <!-- HERO CAPTION -->
            <div class="lv-hero-item-caption animated fadeInLeftSubtle">
                {% ifhascontent hero_caption %}
                    {% contentblock hero_caption no-convert %}
                {% endifhascontent %}
            </div>
        </div>

        {% if page.hero_video_fallback %}
            <a href="/coffins/" class="hidden-md-up">
                <img width="100%" src="/assets/video/content/{{ page.hero_video }}.jpg" alt="We are Lifestyle Coffins">
            </a>
        {% endif %}

        {% if page.hero_video %}
            {% include components/hero/hero__html5_video_plugin.html %}
        {% endif %}

    </div> <!-- /.lv-hero -->
</section> <!-- /.lv-hero-wrapper -->