<!-- PERSONAL INJURY MODAL -->
<div id="personal-injury-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 text-center">

                        <!-- LEGAL TEXT -->
                        <h4 class="text-center text-white mb-4 pb-2">
                            If you would like to find out more about your rights and the process for making a personal injury claim, please answer 'yes' below.
                        </h4>

                        <!-- YES / NO -->
                        <ul class="block-grid-xs-2 is-condensed-more mx-auto" style="max-width: 270px">
                            <li><button onclick="setLocation('qld')" class="btn btn-block btn-primary">YES</button></li>
                            <li><button onclick="window.location = '/'" type="button" class="btn btn-block btn-primary">NO</button></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>